<!DOCTYPE html>

<!--
Python variables that need to be passed in for this template to render correctly:
- error: error str to display, or None if there is no error
-->

<!--
Names of input fields to recieve in the Python backend:
- username
- password
-->

<!--Defines main language used by site (English)-->
<html lang="en">

<head>
  <!--Defines character encoding (utf-8, which is standard)-->
  <meta charset="UTF-8">

  <!--Makes webpage size adapt to device's screen size-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Non-Mako dependent styling from this file -->
  <link rel="stylesheet" href="../static/search.css">

  <%include file="/site_wide.html"/>

  <title>Login on Wingredient</title>
</head>

<body>
  <center>
    <%include file="/navbar.html"/>

    <h1>Login</h1>
    <br>

    <!-- Login form -->
    <form method="POST" class="justify-content-center">

      <!-- Username field -->
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg">
            <i class="fa fa-user fa-fw" aria-hidden="true"></i>
          </span>
        </div>
        <input id="username-box" name="username" placeholder="Username"
        type="text" class="form-control" aria-label="Large"
        aria-describedby="inputGroup-sizing-sm" required>
      </div>
      <br>

      <!-- Password field -->
      <div class="input-group input-group-lg">
        <div class="input-group-prepend">
          <span class="input-group-text" id="inputGroup-sizing-lg">
            <i class="fa fa-lock fa-fw" aria-hidden="true"></i>
          </span>
        </div>
        <input id="password-box" name="password" placeholder="Password"
        type="password" class="form-control" aria-label="Large"
        aria-describedby="inputGroup-sizing-sm" required>
      </div>

      <!-- Error message -->
      % if error != None:
        <br>
        <p class="text-danger">${error}</p>
      % endif

      <!-- Submit button -->
      <br>
      <button class="btn btn-outline-success" type="submit">
        Submit
      </button>
    </form>
    <br>

  </center>
  <br>
</body>
</html>
