<!-- Navbar at top of page -->

<nav class="navbar navbar-dark bg-dark justify-content-between">
  <!-- Aligned left -->
  <!-- Title & logo -->
  <a class="navbar-brand" href="/">
    Wingredient <i class="fa fa-cutlery" aria-hidden="true"></i>
  </a>

  <!-- Aligned right (everything in this div)-->
  <div>
    <!--
    if username is empty string:
      Display login button
      Display signup button
    else:
      Display account button
    -->
    % if username == None:
      <!-- Login button -->
      <a class="btn btn-primary" href="/login" role="button">
        <i class="fa fa-sign-in" aria-hidden="true"></i> Login
      </a>
      &nbsp;

      <!-- Sign up button -->
      <a class="btn btn-primary" href="/signup" role="button">
        <i class="fa fa-user-plus" aria-hidden="true"></i> Sign up
      </a>
    % else:
      <!-- Account dropdown button -->
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fa fa-user-circle-o" aria-hidden="true"></i> ${username}
        </button>

        <!-- Menu items -->
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="/profile">
            <i class="fa fa-user fa-fw" aria-hidden="true"></i>
            &nbsp; Profile
          </a>
          <a class="dropdown-item" href="/pantry">
            <i class="fa fa-columns fa-fw" aria-hidden="true"></i>
            &nbsp; Pantry
          </a>
          <a class="dropdown-item" href="/shoppinglist">
            <i class="fa fa-list fa-fw" aria-hidden="true"></i>
            &nbsp; Shopping List
          </a>
          <a class="dropdown-item" href="/recipe-form">
            <i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i>
            &nbsp; Create recipe
          </a>
          <a class="dropdown-item" href="/logout">
            <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>
            &nbsp; Log out
          </a>
        </div>
      </div>
    % endif
  </div>
</nav>
<br>
