<!DOCTYPE html>

<!--
Python variables that need to be passed in for this template to render correctly:
- error: error str to display, or None if there is no error
-->

<!--
Names of input fields to recieve in the Python backend:
- username
- password
-->

<!--Defines main language used by site (English)-->
<html lang="en">

<head>
  <!--Defines character encoding (utf-8, which is standard)-->
  <meta charset="UTF-8">

  <!--Makes webpage size adapt to device's screen size-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Non-Mako dependent styling from this file -->
  <link rel="stylesheet" href="../static/search.css">

  <!--Bootstrap styling-->
  <link rel="stylesheet"
  href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
  crossorigin="anonymous">

  <!--For icons-->
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--
  To see what other icons are available, go to
  https://fontawesome.com/v4.7.0/icons/
  -->

  <title>Wingredient</title>
</head>

<body>
  <center>

    <!-- Navbar at top of page -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">Wingredient</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!--
            This ul is empty but it still has to be here so the login/account
            buttons are aligned to the right
            -->
            <ul class="navbar-nav mr-auto">
            </ul>

            <!--
            if username is empty string:
            Display login button
            else:
            Display account button
            -->
            % if username == None:
            <!-- Login button -->
            <a class="btn btn-primary" href="/login" role="button">
                <i class="fa fa-sign-in" aria-hidden="true"></i> Login
            </a>
            % else:
            <!-- Account dropdown button -->
            <div class="dropdown">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i> ${username}
                </button>

                <!-- Menu items -->
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">
                    <i class="fa fa-columns" aria-hidden="true"></i> Pantry
                </a>
                <a class="dropdown-item" href="#">
                    <i class="fa fa-list" aria-hidden="true"></i> Shopping List
                </a>
                <a class="dropdown-item" href="/logout">
                    <i class="fa fa-sign-out" aria-hidden="true"></i> Log out
                </a>
                </div>
            </div>
            % endif
        </div>
    </nav>
    <br>

    <h1>Pantry</h1>
    <br>
    % if len(ingredients) == 0:
      <h3>Sorry, no ingredients in your pantry</h3>
    % else:
    <form method="POST">
        <div class="card mb-3">
            <ul class="list-group list-group-flush">
                % for i in range(len(ingredients)):
                    <li class="list-group-item">
                        ${ingredients[i]} + ${quantities[i]}  ${m_types[i]}
                        <button type="submit" name="pantry-delete" class="btn btn-danger" style="float: right" value=${ingredient_ids[i]}>
                            <span class="glyphicon glyphicon-trash"></span>
                            Delete
                        </button>
                    </li>
                % endfor
            </ul>
        </div>
    </form>
    <div>
    % endif
        <h1>Add ingredient to Pantry</h1>
        <form method="POST">
            <div class="form-group">
                <div class="input-group mb-3">
                    <select name="ingredients" id="ingredients" class="form-control">
                        % for ingredient in all_ingredients:
                            <option value="${ingredient}">${ingredient}</option>
                        % endfor
                    </select>
                    <input type="number" class="form-control" min="0" step="1" name="quantity" id="quantity" placeholder="Quantity" required/>
                    <select name="m_type" id="m_type" class="form-control">
                        <option value='Weight'>Grams</option>
                        <option value='Volume'>Milli-litres</option>
                        <option value='Count'>Count</option>
                        <option value='Tablespoon'>Tablespoon</option>
                        <option value='Teaspoon'>Teaspoon</option>
                        <option value='Cup'>Cup</option>
                    </select>
                    <input type="submit" name="pantry-add" value="Add to pantry" class="btn btn-primary" id="add" />
                </div>
            </div>
        </form>
    </div>
     

  </center>
  <br>
</body>
</html>
