<!DOCTYPE html>

<!--
Python variables that need to be passed in for this template to render correctly:
- title:        str (title of the recipe)
- image_path:   str (path to image file to use)
- image_alt:    str (text to use if image not found)
- cooking_time_in_minutes: int or float or str (self-explanatory)
- difficulty:   str (either 'Easy', 'Medium' or 'Hard')
- ingredients:  list of str (e.g. ['Milk', 'Eggs', 'Sugar'])
- equipment:    list of str (e.g. ['Bowl', 'Oven', 'Microwave'])
- method:       list of str (e.g. ['Heat oven.', 'Fill tray.', 'Dice banana.'])
- num_likes:    int (number of likes this recipe has)
- num_dislikes: int (number of dislikes this recipe has)
- rating:       int or None (percentage rating if there are likes)

- is_like:      bool (whether this user likes this recipe)
- is_favourite: bool (whether this user favourites this recipe)

-->

<!--Defines main language used by site (English)-->
<html lang="en">

<head>
  <!--Defines character encoding (utf-8, which is standard)-->
  <meta charset="UTF-8">

  <!--Makes webpage size adapt to device's screen size-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Non-Mako dependent styling from this file -->
  <link rel="stylesheet" href="../static/recipe.css">

  <%include file="/site_wide.html"/>

  <title>${title} - Wingredient</title>

  <!-- Mako-dependent styling -->
  <style>
    #difficulty {
      % if difficulty == 'Easy':
      <%
        difficulty_color="green"
      %>
      % elif difficulty == 'Intermediate':
      <%
        difficulty_color="orange"
      %>
      % elif difficulty == 'Hard':
      <%
        difficulty_color="red"
      %>
      % else:
      <%
        ## It should never be black, but this is here just to prevent the
        ## page from crashing
        difficulty_color="black"
      %>
      % endif
      color: ${difficulty_color};
    }
  </style>

</head>

<body>
  <center>
    <%include file="/navbar.html"/>

    <!-- Recipe Title -->
    <h1>${title}</h1>

    <!-- Recipe photo -->
    <img src="/${image_path}" width="500" alt="${image_alt}">
    <br>

    <!-- Cooking time & difficulty -->
    <div class="d-flex justify-content-around">
      <!-- Cooking time -->
      <div class="p-2 bd-highlight">
        <h5>
          <i class="fa fa-clock-o" aria-hidden="true"></i>
          ${cooking_time_in_minutes} minutes
        </h5>
      </div>

      <!-- Difficulty -->
      <div class="p-2 bd-highlight">
        <h5>
          Difficulty: <i id="difficulty">${difficulty}</i>
        </h5>
      </div>
    </div>
  </center>
  <br>

  

  <div class="container">

    <h2>Ingredients</h2>
    <ul>
      % for ingredient in ingredients:
        <li>${ingredient}</li>
      % endfor
    </ul>
    <br>

    <h2>Equipment</h2>
    <ul>
      % for item in equipment:
        <li>${item}</li>
      % endfor
    </ul>
    <br>

    <h2>Recipe</h2>
    <ol>
      % for step in method:
        <li>${step}</li>
      % endfor
    </ol>
    <br>

    <center>
        <form method="POST">
        
        <button type="submit"
        % if is_like:
          class="btn btn-primary"
        % else:
          class="btn btn-outline-primary"
        % endif
        name="button" value="shopping"
        % if context.username == None:
          disabled
        % endif
        >
          Add to shopping list 
        </button>
        <!-- Like button -->
        <button type="submit"
        % if is_like:
          class="btn btn-primary"
        % else:
          class="btn btn-outline-primary"
        % endif
        name="button" value="like"
        % if context.username == None:
          disabled
        % endif
        >
          <i class="fa fa-thumbs-up" aria-hidden="true"></i> ${num_likes}
        </button>

        <!-- Dislike button -->
        <button type="submit"
        % if is_dislike:
          class="btn btn-primary"
        % else:
          class="btn btn-outline-primary"
        % endif
        name="button" value="dislike"
        % if context.username == None:
          disabled
        % endif
        >
          <i class="fa fa-thumbs-down" aria-hidden="true"></i> ${num_dislikes}
        </button>

        <!-- Favourites button -->
        <button type="submit"
        % if is_favourite:
          class="btn btn-danger"
        % else:
          class="btn btn-outline-danger"
        % endif
        name="button" value="favourite"
        % if context.username == None:
          disabled
        % endif
        >
          <i class="fa fa-heart" aria-hidden="true"></i>
        </button>

      </form>
    </center>

    <br>
  </div>
</body>
</html>
