<!DOCTYPE html>

<!--
Python variables that need to be passed in for this template to render correctly:
- error: error str to display, or None if there is no error
-->

<!--
Names of input fields to recieve in the Python backend:
- username
- password
-->

<!--Defines main language used by site (English)-->
<html lang="en">

<head>
  <!--Defines character encoding (utf-8, which is standard)-->
  <meta charset="UTF-8">

  <!--Makes webpage size adapt to device's screen size-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Non-Mako dependent styling from this file -->
  <link rel="stylesheet" href="../static/search.css">
  <!--<link rel="stylesheet" href="../static/recipe-form.css"-->
  <!--<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">-->
  <!--<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>-->
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <script>
    var all_ingredients = ${all_ingredients}
    var m_types = ${m_types}
  </script>

  <script type="text/javascript" src="../static/recipe-form.js"></script>

  <style media="screen">
    .required_star {
      color: red;
    }
  </style>


  <%include file="/site_wide.html"/>

  <title>Create Recipe - Wingredient</title>
</head>

<body>
  <center>
    <%include file="/navbar.html"/>

    <h1>Recipe Form</h1>
    <br>

    <form method="POST">

      <!-- Recipe name -->
      <div class="form-group row">
        <label for="recipe_name" class="col-sm-3 col-form-label">
          Recipe Name:<span class="required_star">*</span>
        </label>
        <div class="col-sm-8">
          <input type="text" class="form-control" style="height: 30px;" name="recipe_name" id="recipe_name" placeholder = "e.g. Sticky beef and bean stir-fry" required>    <!-- recipe name-->
        </div>
      </div>

    <div class="row">
        <!-- Serving size -->
        <div class="col-5">
            <div class="row">
                <div class="col">
                    <label for="serving_size" style="align-items: left;" class="col-form-label">
                        Serving Size:<span class="required_star">*</span>
                    </label>
                </div>
                <div class="col">
                    <input type="number" name="serving_size" min="1" style="height: 30px;" id="serving_size" class="form-control" required>    <!--serving size-->
                </div>
            </div>
        </div>

        <!-- Cooking time -->
        <div class="col form-group row">
            <div class="row">
                <div class="col">
                    <label for="cooking_time" class="col-form-label">
                        Cooking Time (mins):<span class="required_star">*</span>
                    </label>
                </div>
                <div class="col">
                    <input type="number" class="form-control" style="height: 30px;" name="cooking_time" min="0" id="cooking_time" required>    <!-- cooking time-->
                </div>
            </div>
        </div>
    </div>

      <!-- Difficulty -->
      <div class="form-group row">
        <label for="difficulty" class="col-sm-3 col-form-label">Difficulty:</label>
        <div class="col-sm-8">
          <select name="difficulty" id="difficulty" class="form-control">         <!--difficulty-->
            <option value="Easy">Easy</option>
            <option value="Intermediate">Intermediate</option>
            <option value="Hard">Hard</option>
          </select>
        </div>
      </div>

      <!-- Description -->
      <div class="form-group row">
        <label for="description">Description:</label>
        <textarea class="form-control" rows="2" id="description" name="description" placeholder="e.g. This fast, low-fat stir-fry features lean beef mince cooked in sweet pineapple juice and oyster sauce for rich umami flavour."></textarea>     <!--description-->
      </div>

      <!-- Cooking Notes -->
      <div class="form-group row">
        <label for="cooking_notes">Cooking Notes:</label>
        <textarea class="form-control" rows="3" id="cooking_notes" name="cooking_notes" placeholder="e.g. Swap out beans for other green vegies you need to use up. Chopped zucchini or frozen peas would also work well."></textarea>     <!--cooking notes-->
      </div>

      <h5>Dietary Requirements</h5>
      <div class="form-inline d-flex justify-content-around">
        <div class="custom-control custom-checkbox">
          <input class="custom-control-input" type="checkbox" name="vegetarian_check" id="vegetarian_check" value="vegetarian">   <!--vegetarian check-->
          <label class="custom-control-label" for="vegetarian_check">Vegetarian</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input class="custom-control-input" type="checkbox" name="vegan_check" id="vegan_check" value="vegan">             <!--vegan check-->
          <label class="custom-control-label" for="vegan_check">Vegan</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input class="custom-control-input" type="checkbox" name="gluten_check" id="gluten_check" value="gluten_free">      <!--gluten check-->
          <label class="custom-control-label" for="gluten_check">Gluten Free</label>
        </div>
        <div class="custom-control custom-checkbox">
          <input class="custom-control-input" type="checkbox" name="dairy_check" id="dairy_check" value="dairy_free">        <!--dairy check-->
          <label class="custom-control-label" for="dairy_check">Dairy Free</label>
        </div>
      </div>

      <br><br>

      <div class="form-group">
        <label for="equipment">
          <h5>Recipe Tags</h5>
          <small>Start typing and press enter to confirm tag</small>
        </label>
        <input name="cuisine_tags" id="cuisine_tags" class="tags-input form-control">
        <script>
        'use strict';
        $('#cuisine_tags').tagging([]);
        </script>
      </div>

      <div>
        <div>
          <div id="fields">
            <h5 for="field1">Method<span class="required_star">*</span></h5>
            <small>(Press + to add another step)</small>
            <div id="profs">
              <input type="hidden" id="count" name="count" value="1" />

              <div id="field" style="width: 100%;">
                <textarea autocomplete="off" class="input form-control" id="field1" name="field1" type="text" style="float: left; width: 92%;" data-items="8" required></textarea>     <!--method-->
                <button id="b1" class="btn btn-primary add-more" style="float: left; margin: 2px;" type="button">+</button>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>

      <!-- Ingredient Input-->
      <div>
        <div>
          <div id="fields">
            <h5 for="field1">Ingredients<span class="required_star">*</span></h5>
            <small>(Press + to add another ingredient)</small>
            <small>Tick the checkbox if the ingredient is optional</small>
            <div id="profs">
              <input type="hidden" id="count-ingredient" name="count-ingredient" value="1" />

              <div id="field-ingredient" name="field-ingredient" style="width: 100%;">
                <div name="field-ingredient1" id="field-ingredient1">
                  <select name="ingredient1" id="ingredient" class="form-control" style="float: left; width: 50%;">
                    % for i in range(len(all_ingredients)):
                    <option value="${all_ingredients[i]}">${all_ingredients[i]} (${m_types[i]})</option>
                    % endfor
                  </select>
                  <input type="number" style="height: 38px; width: 30%; float: left;" class="form-control input-lg" min="0" step="1" name="ingredient-quantity1" id="ingredient-quantity1" placeholder="Quantity" required/>
                  <input class="form-control form-check-inline" style="width: 2%; margin-left: 20px; float: left;"type="checkbox" name="ingredient_check1" id="ingredient_check1"/>
                </div>
                <button id="b1" class="btn btn-primary add-more-ingredient" style="float: left; margin: 2px;" type="button">+</button>
              </div>
              <br>
            </div>
          </div>
        </div>
      </div>
      <br>
      <!-- Equipment typeahead-->
      <div class="form-group">
        <label for="ingredients">
          <h5>Equipment</h5>
        </label>
        <input name="equipment" id="equipment" class="tags-input form-control">
        <script>
        'use strict';
        $('#equipment').tagging(${equipment});
        </script>
      </div>
      <br>
      <input type="submit" class = "btn btn-outline-success" value="Submit Recipe"/>
    </form>


  </center>
  <br>
</body>
</html>
