<!DOCTYPE html>

<!--
Python variables that need to be passed in for this template to render correctly:
- error: error str to display, or None if there is no error
-->

<!--
Names of input fields to recieve in the Python backend:
- username
- password
-->

<!--Defines main language used by site (English)-->
<html lang="en">

<head>
  <!--Defines character encoding (utf-8, which is standard)-->
  <meta charset="UTF-8">

  <!--Makes webpage size adapt to device's screen size-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Non-Mako dependent styling from this file -->
  <link rel="stylesheet" href="../static/search.css">

  <%include file="/site_wide.html"/>

  <title>Wingredient</title>
</head>

<body>
  <center>
    <%include file="/navbar.html"/>

    <h1>Recipe Form</h1>
    <br>
    


  </center>
  <br>
</body>
</html>
