<!DOCTYPE html>


<!--Defines main language used by site (English)-->
<html lang="en">

<head>
  <!--Defines character encoding (utf-8, which is standard)-->
  <meta charset="UTF-8">

  <!--Makes webpage size adapt to device's screen size-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Non-Mako dependent styling from this file -->
  <link rel="stylesheet" href="../static/search.css">
  <%include file="/site_wide.html"/>

  <title>Wingredient</title>
</head>

<body>
  <center>
    <%include file="/navbar.html"/>

    <h1>Confirm Recipe</h1>
    <h4>Recipe Name: ${recipe_name}</h4>
    <h4>Cooking Time: ${recipe_time}</h4>
    <h4>Difficulty: ${recipe_difficulty}</h4>
    <h4>Servings: ${recipe_serving}</h4>
    <h4>Cooking Notes: ${recipe_notes}</h4>
    <h4>Description: ${recipe_description}</h4>
    <h4>Dietary Tags: ${dietary_tags}</h4>
    <h4>Equipment: ${recipe_equipment}</h4>
    <h4>Method: ${recipe_method}</h4>
    <h3>Ingredients</h3>
    <div class="card mb-3">
        <ul class="list-group list-group-flush">
            % for i in range(len(recipe_ingredients)):
                <li class="list-group-item">
                ${recipe_ingredients[i]}: ${ingredient_quantities[i]}
                </li>
            % endfor
        </ul>
    </div>
    <form enctype="multipart/form-data", method="POST">
        <div class="form-row">
            <div class="form-group col-md-4">
                <label class="col-form-label" for="recipe_image">Upload Image:</label>
            </div>
            <div class="form-group col-md-6">
                <input class="form-control-file" type="file" id="recipe_image" name="recipe_image" accept="image/png, image/jpeg">  <!--recipe image-->
            </div>
            <input type="submit" value="Upload Recipe"/>
        </div>
    </form>
  </center>
  <br>
</body>
</html>





