<!DOCTYPE html>

<!--
Python variables that need to be passed in for this template to render correctly:
- ingredients:  list of str (e.g. ['Milk', 'Eggs', 'Sugar'])
- allowed_diets
- current_diets
-->

<!--
Names of input fields to recieve in the Python backend:
- terms
- num_servings
- ingredients
- min_rating
- max_difficulty
- max_time
- pantry_only
- vegan
- vegetarian
- dairy_free
- gluten_free
-->

<!--Defines main language used by site (English)-->
<html lang="en">

<head>
  <!--Defines character encoding (utf-8, which is standard)-->
  <meta charset="UTF-8">

  <!--Makes webpage size adapt to device's screen size-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Non-Mako dependent styling from this file -->
  <link rel="stylesheet" href="../static/search.css">

  <%include file="/site_wide.html"/>

  <script>
    // Necessary for tooltips to work
    $(function () {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

  <title>Wingredient</title>
</head>

<body>
  <center>
    <%include file="/navbar.html"/>

    <h1>Search for Recipes</h1>
    <br>

    <!--
    Mako function to generate a collapsible form input. Takes:
    name - Label that appears on the collapsible
    contents - The hidden contents inside the form that are revealed upon click
    -->
    <%def name="collapsible_form(name, icon, contents)">
      <div class="wrap-collabsible">
        <input id="${name}_collapsible" class="toggle" type="checkbox">
        <label for="${name}_collapsible" class="lbl-toggle">
          ${name} ${icon}
        </label>
        <div class="collapsible-content">
          <div class="content-inner">
            ${contents}
          </div>
        </div>
      </div>
    </%def>

    <!-- Search form -->
    <form method="POST" class="justify-content-center">

      <!-- Ingredients -->
      <!-- This isn't in a collapsible form yet because it behaves weirdly -->
      <div class="form-group">
        <label for="ingredients">
          <h5>Ingredients</h5>
        </label>
        <input name="ingredients" id="ingredients" class="tags-input form-control">
        <script>
          'use strict';
          $('#ingredients').tagging(${ingredients});
        </script>
      </div>

      <!-- Pantry only -->
      % if context.username == None:
        <span class="d-inline-block" tabindex="0" data-toggle="tooltip" data-placement="right" title="Login to use your pantry">
          <div class="form-group custom-control custom-checkbox">
            <input name="pantry_only" type="checkbox" class="custom-control-input" id="pantry_only" disabled>
            <label class="custom-control-label" for="pantry_only">
              Include ingredients from pantry
            </label>
          </div>
        </span>
      % else:
        <div class="form-group custom-control custom-checkbox">
          <input name="pantry_only" type="checkbox" class="custom-control-input" id="pantry_only">
          <label class="custom-control-label" for="pantry_only">
            Include ingredients from pantry
          </label>
        </div>
      % endif

      <!-- Search terms -->
      ${collapsible_form('Search terms', '<i class="fa fa-book" aria-hidden="true"></i>', """
        <div class='col-sm-5'>
          <input name='terms' type='search' class='form-control' id='search-box' placeholder='e.g. soup'>
        </div>
      """)}

      <!-- #Servings -->
      ${collapsible_form('#Servings', '<i class="fa fa-users" aria-hidden="true"></i>', """
      <div class="col-sm-5">
        <div class="input-group mb-3">
          <input name="num_servings" type="number" class="form-control" id="num-servings" min="1" max="8">
          <div class="input-group-append">
            <span class="input-group-text" id="basic-addon3">people</span>
          </div>
        </div>
      </div>
      """)}

      <!-- Min Rating -->
      ${collapsible_form('Minimum rating', '<i class="fa fa-thumbs-up" aria-hidden="true"></i>', """
        <div class="col-sm-5">
          <div class="input-group mb-3">
            <input name="min_rating" id="min-rating" type="number" class="form-control" min="0" max="100">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">%</span>
            </div>
          </div>
        </div>
      """)}

      <!-- Max Difficulty -->
      ${collapsible_form('Max Difficulty', '<i class="fa fa-signal" aria-hidden="true"></i>', """
        <div class="col-sm-5">
          <select name="max_difficulty" class="form-control" id="max-difficulty">
            <option>Easy</option>
            <option>Medium</option>
            <option selected>Hard</option>
          </select>
        </div>
      """)}

      <!-- Maximum time to cook -->
      ${collapsible_form('Max time to cook', '<i class="fa fa-clock-o" aria-hidden="true"></i>', """
        <div class="col-sm-5">
          <div class="input-group mb-3">
            <input name="max_time" id="max-time" type="number" class="form-control" min="0" max="1440">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2">minutes</span>
            </div>
          </div>
        </div>
      """)}

      <!-- Dietary Restrictions -->
      <!-- Doesn't use the collapsible_form function because this has Mako code,
      which doesn't render properly when passed in as an argument -->
      <div class="wrap-collabsible">
        <input id="dietary_restrictions_collapsible" class="toggle" type="checkbox">
        <label for="dietary_restrictions_collapsible" class="lbl-toggle">
          Dietary Restrictions <i class="fa fa-envira" aria-hidden="true"></i>
        </label>
        <div class="collapsible-content">
          <div class="content-inner">

            <!-- Generate Dietary Checkboxes -->
            % for diet in allowed_diets:
            <div class="form-group custom-control custom-checkbox">
              % if diet in set(current_diets):
              <input name="${diet}" type="checkbox" class="custom-control-input" id="${diet}" checked>
              % else:
              <input name="${diet}" type="checkbox" class="custom-control-input" id="${diet}">
              % endif
              <label class="custom-control-label" for="${diet}">${diet}</label>
            </div>
            % endfor

          </div>
        </div>
      </div>

      <!-- Submit button -->
      <br>
      <button class="btn btn-success" type="submit">
        <i class="fa fa-search" aria-hidden="true"></i> Search
      </button>

    </form>

  </center>
  <br>
</body>
</html>
