<!DOCTYPE html>

<!--
Python variables that need to be passed in for this template to render correctly:
- title:        str (title of the recipe)
- image_path:   str (path to image file to use)
- image_alt:    str (text to use if image not found)
- cooking_time_in_minutes: int or float or str (self-explanatory)
- difficulty:   str (either 'Easy', 'Medium' or 'Hard')
- ingredients:  list of str (e.g. ['Milk', 'Eggs', 'Sugar'])
- equipment:    list of str (e.g. ['Bowl', 'Oven', 'Microwave'])
- method:       list of str (e.g. ['Heat oven.', 'Fill tray.', 'Dice banana.'])
- num_likes:    int (number of likes this recipe has)
-->

<!--Defines main language used by site (English)-->
<html lang="en">

<head>
  <!--Defines character encoding (utf-8, which is standard)-->
  <meta charset="UTF-8">

  <!--Makes webpage size adapt to device's screen size-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Non-Mako dependent styling from this file -->
  <link rel="stylesheet" href="../static/shoppinglist.css">

  <%include file="/site_wide.html"/>

  <title>Wingredient</title>
  

  <!-- Mako-dependent styling -->

<head>

<body>
  <center>
    <%include file="/navbar.html"/>
    <!-- Shopping List Title -->
      <ul>
        <h2>Recipes</h2>
        % for i in range(len(shopping_list_recipe_names)):
        <form method="POST">
          <li>
              ${shopping_list_recipe_names[i]}:
              <button type="submit" class="button-class" name="delete_recipe" value=${shopping_list_recipe_ids[i]}></i> Delete
              </button>
          </li>
        % endfor
      </ul>
      </form>
      <br>
      <h2>Ingredients</h2>
      <ul>
        % for ingredient in shopping_list_ingredients:
          <li>${ingredient}</li>
        % endfor
      </ul>
        </div>
      <br>
</body>
</html>
