<!DOCTYPE html>

<!--
Python variables that need to be passed in for this template to render correctly:
- title:        str (title of the recipe)
- image_path:   str (path to image file to use)
- image_alt:    str (text to use if image not found)
- cooking_time_in_minutes: int or float or str (self-explanatory)
- difficulty:   str (either 'Easy', 'Medium' or 'Hard')
- ingredients:  list of str (e.g. ['Milk', 'Eggs', 'Sugar'])
- equipment:    list of str (e.g. ['Bowl', 'Oven', 'Microwave'])
- method:       list of str (e.g. ['Heat oven.', 'Fill tray.', 'Dice banana.'])
- num_likes:    int (number of likes this recipe has)
-->

<!--Defines main language used by site (English)-->
<html lang="en">

<head>
  <!--Defines character encoding (utf-8, which is standard)-->
  <meta charset="UTF-8">

  <!--Makes webpage size adapt to device's screen size-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Non-Mako dependent styling from this file -->
  <link rel="stylesheet" href="../static/shoppinglist.css">

  <%include file="/site_wide.html"/>

  <title>Wingredient</title>
  

  <!-- Mako-dependent styling -->

<head>

<body>
  <center>
    <%include file="/navbar.html"/>
    <!-- Shopping List Title -->
<form method="POST">
<table class="table table-striped" style="max-width: 600px; text-align: center;">
  <thead>
    <tr>
        <th scope="col"> <h2>Recipes</h2></th>
    </tr>
  </thead>
  <tbody>
    % for i in range(len(shopping_list_recipe_names)):
    <tr>
      <th scope="row">${shopping_list_recipe_names[i]}
          <button type="submit" style="float: right;" class="btn btn-danger" name="delete_recipe" value=${shopping_list_recipe_ids[i]}></i> 
<i class="fa fa-trash" aria-hidden="true"></i>
              </button>
      </th>

    </tr>
    % endfor
  </tbody>
</table>
    % if len(shopping_list_recipe_names) == 0:
        <br> 
        <h4> Your shopping list is empty</h4>
    % endif
</form>
<br>
<br>

<table class="table table-striped" style="max-width: 600px; text-align: center;">
  <thead>
    <tr>
        <th scope="col"><h2>Ingredients</h2></th>
    </tr>
  </thead>
  <tbody>
    % for ingredient in shopping_list_ingredients:
    <tr>
      <th scope="row">${ingredient}
      </th>
    </tr>
    % endfor
  </tbody>
</table>
</body>
</html>
