<!DOCTYPE html>

<!--
Python variables that need to be passed in for this template to render correctly:
- error: error str to display
-->

<!--
Names of input fields to recieve in the Python backend:
- username
- password
- password_duplicate
-->

<!--Defines main language used by site (English)-->
<html lang="en">

<head>
  <!--Defines character encoding (utf-8, which is standard)-->
  <meta charset="UTF-8">

  <!--Makes webpage size adapt to device's screen size-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Non-Mako dependent styling from this file -->
  <link rel="stylesheet" href="../static/search.css">

  <%include file="/site_wide.html"/>

  <title>Sign up for Wingredient</title>
</head>

<body>
  <center>
    <%include file="/navbar.html"/>

    <h1>Signup</h1>
    <br>

    <!-- Signup form -->
    <form method="POST" class="justify-content-center">

      <!-- Username field -->
      <div class="form-group row">
        <label for="username-box" class="col-sm-5 col-form-label">
          <h5>
            <i class="fa fa-user" aria-hidden="true"></i> Username:
          </h5>
        </label>
        <div class="col-sm-5">
          <input name="username" type="text" class="form-control" id="username-box" required>
        </div>
      </div>

      <!-- Password field -->
      <div class="form-group row">
        <label for="password-box" class="col-sm-5 col-form-label">
          <h5>
            <i class="fa fa-lock" aria-hidden="true"></i> Password:
          </h5>
        </label>
        <div class="col-sm-5">
          <input name="password" type="password" class="form-control" id="password-box" required>
        </div>
      </div>

      <!-- Confirm password field -->
      <div class="form-group row">
        <label for="confirm-password-box" class="col-sm-5 col-form-label">
          <h5>
            <i class="fa fa-lock" aria-hidden="true"></i> Confirm Password:
          </h5>
        </label>
        <div class="col-sm-5">
          <input name="password_duplicate" type="password" class="form-control" id="confirm-password-box" required>
        </div>
      </div>

      <!-- Error message -->
      % if error != None:
      <br>
      <p>${error}</p>
      % endif

      <!-- Submit button -->
      <br>
      <button class="btn btn-outline-success" type="submit">
        Submit
      </button>
    </form>

  </center>
  <br>
</body>
</html>
