/* Non-Mako dependant styling for recipe.html */

/* Make text not too much to the left */
h2, ul, ol, h5 {
    padding-left: 24%;
}

/* Necessary for cooking time & date to be on the same line */
#time_and_difficulty {
    display: inline-block;
    float: left;
}
