.block {
    background: gray;
    display:inline-block;
}
ul {
  list-style-type: none;
  display: inline-block;
  max-width: 50%;
  word-break: break-all;
  border: 5px solid black;
}

ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

ul li:last-child {
  border-bottom: none
}
