.block {
    background: gray;
    display:inline-block;
}
ul {
  list-style-type: none;
  font-size: 20px;
  display: inline-block;
  max-width: 75%;
  word-break: break-all;
  border: 5px solid black;
}

ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

ul li:last-child {
  border-bottom: none
}

.button-class {
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    text-color: black;
}
